# Global config
{
    # Crowdsec
    crowdsec {
        api_url http://localhost:8080
        api_key {{ crowdsec_api_key }}
        ticker_interval 15s
        # appsec_url http://localhost:7422
    }

    order crowdsec before reverse_proxy
}

# Navidrome
music.owenkrueger.com {
    encode gzip
    crowdsec

    reverse_proxy {{caddy_navidrome_ip}}

    tls {
        dns cloudflare {{ caddy_cloudflare_api_key }}
    }
}