[Unit]
Description=Immich Database
Wants=network-online.target
After=network-online.target

[Container]
Image={{ immich_database_image }}
ContainerName=database
Volume=/home/owen/immich/data:/var/lib/postgresql/data:Z
Network=immich.network

Environment=DB_DATA_LOCATION=/home/owen/immich/data
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=default.target
