[Unit]
Description=Immich Redis
Wants=network-online.target
After=network-online.target

[Container]
Image={{ immich_redis_image }}
ContainerName=redis
HealthCmd=redis-cli ping || exit 1
Network=immich.network

[Service]
Restart=always

[Install]
WantedBy=default.target
