[Unit]
Description=Directory backup for {{ app_name }} ({{ backup_target_directory }})
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'tar -czf /mnt/truenas/backups/{{ app_name }}/files/{{ backup_target_directory }}.tar.gz -C {{ backup_source_directory }} .'
#User=root
#Group=root
User=owen
Group=wheel

[Install]
WantedBy=multi-user.target
