[Unit]
Description=Nextcloud AIO PostgreSQL Database
After=nextcloud.network.target

[Container]
Image=ghcr.io/nextcloud-releases/aio-postgresql:latest
ContainerName=nextcloud-database
#User=999
#Init=true
Volume=/home/owen/nextcloud/database:/var/lib/postgresql/data:Z
Volume=nextcloud_database_dump.volume:/mnt/data:rw
#Volume=/home/owen/nextcloud/database_dump:/mnt/data:Z
#Volume=nextcloud_aio_database.volume:/var/lib/postgresql/data:rw
#Volume=nextcloud_aio_database_dump.volume:/mnt/data:rw

#Environment=POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD
Environment=POSTGRES_DB=nextcloud_database
Environment=POSTGRES_USER=nextcloud
Environment=AIO_LOG_LEVEL=warn
Environment=TZ=America/Chicago
Environment=PGTZ=America/Chicago
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD

ShmSize=268435456
ReadOnly=true
Tmpfs=/var/run/postgresql
DropCapability=NET_RAW
StopTimeout=1800
Network=nextcloud.network

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
