[Unit]
Description=Nextcloud AIO Apache
After=nextcloud.service

[Container]
Image=ghcr.io/nextcloud-releases/aio-apache:latest
ContainerName=nextcloud-apache
User=33
#Init=true
Volume=/home/owen/nextcloud/config:/var/www/html:z
Volume=/home/owen/nextcloud/apache:/mnt/data:Z
#Volume=nextcloud_aio_nextcloud.volume:/var/www/html:ro
#Volume=nextcloud_aio_apache.volume:/mnt/data:rw

Environment=NC_DOMAIN=owenkrueger.com
Environment=NEXTCLOUD_HOST=nextcloud-aio-nextcloud
Environment=APACHE_HOST=nextcloud-aio-apache
Environment=APACHE_PORT=11000
Environment=AIO_LOG_LEVEL=warn
Environment=TZ=America/Chicago
Environment=APACHE_MAX_SIZE=1073741824
Environment=APACHE_MAX_TIME=3600

PublishPort=11000:11000/tcp
PublishPort=11000:11000/udp

ReadOnly=true
Tmpfs=/var/log/supervisord
Tmpfs=/var/run/supervisord
Tmpfs=/usr/local/apache2/logs
Tmpfs=/tmp
Tmpfs=/home/www-data
DropCapability=NET_RAW
Network=nextcloud.network

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
