[Unit]
Description=Nextcloud AIO Nextcloud
After=nextcloud-database.service nextcloud-redis.service

[Container]
Image=ghcr.io/nextcloud-releases/aio-nextcloud:latest
ContainerName=nextcloud-nextcloud
#Init=true

Volume=/home/owen/nextcloud/config:/var/www/html:z
Volume=/home/owen/nextcloud/ncdata:/mnt/ncdata:Z
Volume=/mnt/truenas/nas:/mnt/truenas/nas:Z
#Volume=nextcloud_aio_nextcloud.volume:/var/www/html:rw
#Volume=/opt/stacks/nextcloud:/mnt/ncdata:rw
#Volume=/mnt/truenas/nas/:/mnt/truenas/nas/:rw

Environment=NEXTCLOUD_HOST=nextcloud-aio-nextcloud
Environment=POSTGRES_HOST=nextcloud-aio-database
Environment=POSTGRES_PORT=5432
#Environment=POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD
Environment=POSTGRES_DB=nextcloud_database
Environment=POSTGRES_USER=nextcloud
Environment=REDIS_HOST=nextcloud-aio-redis
Environment=REDIS_PORT=6379
#Environment=REDIS_HOST_PASSWORD=YOUR_REDIS_PASSWORD
Environment=APACHE_HOST=nextcloud-aio-apache
Environment=APACHE_PORT=11000
Environment=NC_DOMAIN=owenkrueger.com
Environment=ADMIN_USER=admin
#Environment=ADMIN_PASSWORD=YOUR_NEXTCLOUD_PASSWORD
Environment=NEXTCLOUD_DATA_DIR=/mnt/ncdata
Environment=OVERWRITEHOST=owenkrueger.com
Environment=OVERWRITEPROTOCOL=https
Environment=AIO_LOG_LEVEL=warn
Environment=NEXTCLOUD_MOUNT=/mnt/truenas/nas/
Environment=CLAMAV_ENABLED=false
Environment=ONLYOFFICE_ENABLED=false
Environment=COLLABORA_ENABLED=false
Environment=TALK_ENABLED=false
Environment=UPDATE_NEXTCLOUD_APPS=true
Environment=TZ=America/Chicago
Environment=PHP_UPLOAD_LIMIT=10G
Environment=PHP_MEMORY_LIMIT=512M
Environment=FULLTEXTSEARCH_ENABLED=false
Environment=PHP_MAX_TIME=3600
Environment=IMAGINARY_ENABLED=false
Environment=TALK_RECORDING_ENABLED=false
Environment=WHITEBOARD_ENABLED=false
Environment=REMOVE_DISABLED_APPS=false
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Secret=ADMIN_PASSWORD,type=env,target=ADMIN_PASSWORD
Secret=REDIS_HOST_PASSWORD,type=env,target=REDIS_PASSWORD

ShmSize=134217728
DropCapability=NET_RAW
StopTimeout=600
Network=nextcloud.network

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
