[Unit]
Description=Authentik
Wants=network-online.target
After=network-online.target

[Container]
Image={{ authentik_database_image }}
ContainerName=postgresql
Volume=/home/owen/authentik/database:/var/lib/postgresql/data:z
Environment=POSTGRES_USER=authentik
Environment=POSTGRES_DB=authentik
#Environment=POSTGRES_PASSWORD={{ authentik_db_password }}
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Network=authentik.network
#HealthCmd=CMD-SHELL pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
#HealthInterval=30s
#HealthRetries=5
#HealthStartPeriod=20s
#HealthTimeout=5s

[Service]
Restart=always

[Install]
WantedBy=default.target
