[Unit]
Description=Actual Budget
After=network-online.target

[Container]
Image=docker.io/actualbudget/actual-server:latest
PublishPort=5006:5006
Volume=/home/owen/data:/data:Z

AutoUpdate=registry

Environment=ACTUAL_PORT=5006
Environment=ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=20
Environment=ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=50
Environment=ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=20

# SSO/OIDC
Environment=ACTUAL_OPENID_DISCOVERY_URL=https://auth.owenkrueger.com/application/o/actual-budget/
Environment=ACTUAL_OPENID_CLIENT_ID=QAhr6v3DWGfjTGzrI6M52EqJBNsmzRuXqLVJSvlx
Environment=ACTUAL_OPENID_SERVER_HOSTNAME=https://budget.owenkrueger.com
Environment=ACTUAL_OPENID_AUTH_METHOD=oauth2
Secret=ACTUAL_OPENID_CLIENT_SECRET,type=env,target=ACTUAL_OPENID_CLIENT_SECRET

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
