[Unit]
Description=Mealie
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/mealie-recipes/mealie:latest
ContainerName=mealie
PublishPort=9000:9000
Volume=/home/owen/mealie/data:/app/data:Z

Environment=ALLOW_SIGNUP=true
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Environment=BASE_URL=https://meals.owenkrueger.com

Environment=OIDC_AUTH_ENABLED=true
Environment=OIDC_PROVIDER_NAME=authentik
Environment=OIDC_CONFIGURATION_URL={{authentik_oidc_mealie_configuration_url}}
Environment=OIDC_CLIENT_ID={{authentik_oidc_mealie_client_id}}
Environment=OIDC_GROUPS_CLAIM=entitlements
Environment=OIDC_USER_GROUP=mealie-users
Environment=OIDC_ADMIN_GROUP=mealie-admins
Environment=OIDC_AUTO_REDIRECT=true
Environment=OIDC_REMEMBER_ME=true
Environment=ALLOW_PASSWORD_LOGIN=false
Environment=OIDC_REQUIRES_EMAIL_VERIFICATION=false

Secret=OIDC_CLIENT_SECRET,type=env,target=OIDC_CLIENT_SECRET

[Service]
Restart=always

[Install]
WantedBy=default.target
