[Unit]
Description=Borg Warehouse
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/borgwarehouse/borgwarehouse
ContainerName=borgwarehouse
AutoUpdate=registry
PublishPort=3000:3000
PublishPort=2222:22

Volume=/home/owen/borg/config:/home/borgwarehouse/app/config:Z
Volume=/home/owen/.ssh:/home/borgwarehouse/.ssh:z
Volume=/etc/ssh:/etc/ssh:z
Volume=/home/owen/borg/repos:/home/borgwarehouse/repos:Z

Environment=WEB_SERVER_PORT=3000
Environment=SSH_SERVER_PORT=2222

Environment=FQDN=backup.owenkrueger.com
Environment=BETTER_AUTH_URL=https://backup.owenkrueger.com

Environment=PUID=1000
Environment=PGID=1000

Environment=CONFIG_PATH=./config
Environment=SSH_PATH=./ssh
Environment=SSH_HOST=./ssh_host
Environment=BORG_REPOSITORY_PATH=./repos
Environment=STORAGE_TARGES=/mnt/truenas/backups/borg|NAS

Environment=MAIL_SMTP_FROM=noreply@owenkrueger.com
Environment=MAIL_SMTP_HOST=smtp.fastmail.com
Environment=MAIL_SMTP_PORT=465
Environment=MAIL_REJECT_SELFSIGNED_TLS=true

Environment=DISABLE_PASSWORD_LOGIN=true
Environment=OIDC_CLIENT_ID=yw4qq6GZ1M77mkIinwZ1HxwhU5k8pMfK9TYyWf23
Environment=OIDC_ISSUER_URL=https://auth.owenkrueger.com/application/o/borg-warehouse

Secret=BETTER_AUTH_SECRET,type=env,target=BETTER_AUTH_SECRET
Secret=CRONJOB_KEY,type=env,target=CRONJOB_KEY
Secret=MAIL_SMTP_LOGIN,type=env,target=MAIL_SMTP_LOGIN
Secret=MAIL_SMTP_PWD,type=env,target=MAIL_SMTP_PWD
Secret=OIDC_CLIENT_SECRET,type=env,target=OIDC_CLIENT_SECRET

Network=borg.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
