[Unit]
Description=ESPHome
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/esphome/esphome:latest
ContainerName=esphome

Volume=/home/owen/home_assistant/esphome:/esphome:Z
Volume=/etc/localtime:/etc/localtime:ro

PublishPort=6052:6052
Network=home_assistant.network

[Service]
Restart=always

[Install]
WantedBy=default.target
