[Unit]
Description=Mosquitto
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/library/eclipse-mosquitto:latest
ContainerName=mosquitto

Volume=/home/owen/home_assistant/mosquitto:/mosquitto:Z

PublishPort=1883:1883
PublishPort=9001:9001
Network=home_assistant.network

Exec=mosquitto -c /mosquitto-no-auth.conf

[Service]
Restart=always

[Install]
WantedBy=default.target
