[Unit]
Description=Zigbee2MQTT
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/library/zigbee2mqtt:latest
ContainerName=zwave

Volume=/home/owen/home_assistant/zigbee2mqtt:/app/data:Z
Volume=/run/udev:/run/udev:ro

PublishPort=8976:8080
Network=home_assistant.network

[Service]
Restart=always

[Install]
WantedBy=default.target
